
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400i&display=swap');

$Poiret-one : 'Poiret One';

#header {
    background-color: #dabebe;
    color : #ffffff
}

#coffeeCardTitle {
    color: #412525,
    
}

html {
    font-family: 'Raleway'
}

body { padding-top: 100px; }

h1, h2, h3, h4 {
    font-family: $Poiret-one;
}

.modal {
    color: black;
    outline: none;
    padding: 50px;
    text-align: center;
}
@import '~bootstrap/scss/bootstrap.scss'