
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400i&display=swap');

$Poiret-one : 'Poiret One';
$background-color : #412525;

#header {
    background-color: #dabebe;
    color : #ffffff
}

#coffeeCardTitle{
    color: $background-color;
}

html {
    font-family: 'Raleway';
    height: 100%
}

body { 
    padding-top: 100px; 
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: $Poiret-one;
}

.pageFooter {
    position: relative;
    background-color: #e9c4c4;
    margin-bottom: 0px;
    padding: 15px 60px 15px 15px;
    text-align: center;
    font-family: $Poiret-one;
    color : #ffffff;
    width: 100%;
    bottom: 0;
}

.coffee-background {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    opacity : 0.09;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=50);
    width: 100%;
}

.navbar-text {
    font-family: $Poiret-one;
    
    a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    a:hover {
        color: white;
        text-decoration: none;
        border-bottom: dashed 1px;
    }
}

.cardWrapper {
    z-index: 1;
    background-color : transparent;
}

.modal {
    color: black;
    outline: none;
    padding: 50px;
    text-align: center;
}

@import '~bootstrap/scss/bootstrap.scss'