
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400i&display=swap');

$Poiret-one : 'Poiret One';
$background-color : #412525;

#header {
    background-color: #dabebe;
    color : #ffffff
}

#coffeeCardTitle {
    color: $background-color,
    
}

html {
    font-family: 'Raleway'
}

body { padding-top: 100px; }

h1, h2, h3, h4 {
    font-family: $Poiret-one;
}

.coffee-background {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    opacity : 0.09;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: alpha(opacity=50);
    width: 100%;
}

.navbar-text, .externalLinks {
    font-family: $Poiret-one;
    
    a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    a:hover {
        color: white;
        text-decoration: none;
        border-bottom: dashed 1px;
    }
}

.cardWrapper {
    z-index: 1;
    background-color : transparent;
}

.modal {
    color: black;
    outline: none;
    padding: 50px;
    text-align: center;
}
@import '~bootstrap/scss/bootstrap.scss'